
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <img class="img-responsive about-img" src="/img/molly.png" alt="">
        </div>
         <div class="col-sm-6 col-md-6">
          <h1>Hello World!</h1>
			<p>I’m Molly Kraus, a full stack web developer. Originally from the South, but have lived all over the country, I now call NYC home.</p>

			<p>When I am not making websites, you can find me painting pet portraits, drinking coffee, or exploring NYC.</p>
			
			<div class="email-tag">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<a href="mailto:mollyjkraus@gmail.com?subject=Hello Molly">mollyjkraus@gmail.com</a>
			</div>  
			<br/>

			<div class="project-title">
			<p>Skills</p>
			</div>
			
			<p>JavaScript, Node.js, jQuery, Ruby, Ruby on Rails, AngularJS, React, PostgreSQL, Sinatra, HTML, CSS, Bootstrap, Skeleton</p>	
			<br/>
			<div class="project-title">
			<p>Education</p>
			</div>

			<p>Boston University, BS in Film and Television</p>

			<p>General Assembly, Web Development Immersive</p>
        </div>
      </div>
    </div>
