
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="img-responsive about-img" src="/img/molly-2.png" alt="">
        </div>
         <div class="col-sm-12 col-md-6">
          <h1>Hello, World!</h1>
			<p>I’m Molly Kraus, a full stack web developer who lives and works in NYC.</p>

			<p>When I am not making websites, you can find me <a href='https://www.instagram.com/mint_miller/' style="color:#ff2f18;">painting pet portraits</a>, drinking lattes, or exploring the MoMA.</p>
			
			<div class="email-tag">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<a href="mailto:mollyjkraus@gmail.com?subject=Hello Molly">mollyjkraus@gmail.com</a>
			</div>  
			<br/>

			<div class="project-title">
			<h3>Skills</h3>
			</div>
			<p>JavaScript, jQuery, Ruby, Ruby on Rails, Sinatra, HTML5, CSS3, Skeleton, Bootstrap, SQL, PostgreSQL, Git, GitHub, Markdown, Photoshop, React.js, Node.js</p>
			<br/>
			<div class="project-title">
			<h3>Education</h3>
			</div>

			<p>Boston University, BS in Film and Television</p>

			<p>General Assembly, Web Development Immersive</p>
        </div>
      </div>
    </div>
