<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/4"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/6"><i class="fa fa-angle-right" aria-hidden="true"></i></a>    
      <h2>Bolthouse Farms</h2>
      
      <div class="linkGroup">
        <h2 class="subHeading">UX Designer</h2>
        <p>A promotion with Bolthouse Farms created for customers to receive a coupon code after showing proof of purchase of BoltHouse products. The single page application was hosted on BoltHouse Farms’ website and was designed to reflect a rebranding of the company.</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 

  <div class="row">
    <div class="col-md-12">
    <img class="img-responsive center-img" src="../img/bolthous-screen-2.png" alt="Responsive image">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p style = "padding: 5em 0 5em 0; text-align: center;">The client was presented with two landing page options. These designs lended to two user journeys. One having more steps for the user to take, but both with the same results. I worked closely with our team's Art Director/UI Designer to bring the landing pages to life. The client chose option one.</p>
      <img class="img-responsive center-img" src="../img/bh-wireframe-3c.jpg" alt="Responsive image">
    </div>
  </div> 

  <div class="row" style = "margin-top: 5em; margin-bottom: 4em;">
    <div class="col-md-12">
      <img class="img-responsive center-img" src="../img/bh-wireframe-2d.jpg" alt="Responsive image">
    </div>
  </div>

  <div class="row" style = "margin-bottom: 4em;">
    <h2>Option 1</h2>
      <div class="col-sm-12 col-md-6 stackedPadding">
        <img class="img-responsive center-img" src="../img/bh-wireframe-3a.jpg" alt="Responsive image">
      </div>

      <div class="col-sm-12 col-md-6">
        <img class="img-responsive center-img" src="../img/bh-wireframe-1b.jpg" alt="Responsive image">
      </div>
  </div>

    <div class="row" style = "margin-bottom: 10em;">
    <h2>Option 2</h2>
    <div class="col-sm-12 col-md-6 stackedPadding">
    <img src="../img/bh-wireframe-2.jpg" alt="Responsive image" style="width: 100%;">
    </div>

        <div class="col-sm-12 col-md-6">
    <img src="../img/bh-wireframe-2a.jpg" alt="Responsive image" style="width: 100%;">
    </div>
  </div>     
</div>
