<!-- styling for paragraphs -->
<!-- style="padding-right:60px;" "padding-left:60px;" -->
<!-- <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      
      <div class="project-title">
        <h2>fringely</h2>
      </div>

      <div class="links-group">  
        <div class="links-tab"><p><a href='http://fringely.herokuapp.com/'>Website</a></p></div>
        <div class="links-tab"><p><a href='https://github.com/mjkraus/project-forum'>GitHub</a></p></div>
        <p>Ruby, Sinatra, PostgreSQL, Skeleton, HTML and CSS</p>
      </div> 

      <hr>   

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Overview</h3>
          <p>Fringely is a forum about women’s hair, specifically bangs, inspired by my time working as a hair stylist. In the hair industry, stylists refer to bangs as “fringe”, which is the root word of the forum’s name, Fringely.</p> 

          <p>This web application was written in Ruby and runs on the Sinatra framework. I wrote SQL commands to make queries to the Postgres database, which stores user’s login information, passwords, posts, topics, likes, and comments.</p>
        </div>

        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/fringely-index.png"></span>       
        </div>  
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/fringely-DB.png"></span>         
        </div>

        <div class="col-xs-12 col-md-6">
          <h3>Planning the Database</h3>
          <p>Before I began the development of Fringely, I planned the backend with my entity-relationship diagram (ERD). This model helped me understand the relationships within the application and the structure of my relational database.</p>
        </div>
      </div>

      <hr>   

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Creating Functionality</h3>
          <ul>
            <li>Custom coded forms for login, sign up, post creation, and comments</li>
            <li>A user can create an account and log in. The password is encrypted through Bcrypt. Her posts and comments are associated with her account.</li>
            <li>A user cannot comment or post without logging in</li>
            <li>Any visitor to Fringely can “like” a post</li>
            <li>Through the gem Redcarpet, the user can write her posts in Markdown and have them displayed in HTML on the forum.</li>
            <li>Fringely’s top posts are displayed on the index page based on popularity from “likes” and sorted by an SQL command.</li>
            <li>Posts are also sorted and displayed by the topic they are posted under.</li>
          </ul>  
        </div>

        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/fringely-thread-ex.png"></span>         
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-6">
<!--           <span><img class="img-responsive center-block" src="/img/wireframes.png"></span>  -->
          <span><img class="img-responsive center-block" src="/img/fringely-set.png"></span>
<!--           <span><img class="img-responsive center-block" src="/img/fringely-login.png"></span>
          <span><img class="img-responsive center-block" src="/img/fringely-topics.png"></span>
          <span><img class="img-responsive center-block" src="/img/fringely-post2.png"></span> -->
        </div>

        <div class="col-xs-12 col-md-6">
          <h3>Designing the User Experience and Layout</h3>
          <p>When I designed the look and feel of Fringely, I had the user in mind. I pictured my clients from the salon, who were in high school or right out of college, using this forum. I thought that Fringely should have a trendy, bold, and high fashion feel to it, but still be youthful and fun. I chose a black, white and grey color scheme and used Google fonts Oswald and Cabin Condensed to achieve the look. The layout is on Skeleton’s grid system.</p>
          <p>The display of the most popular posts on the index page, gave me the opportunity to design cards to present key information about the posts.</p>
        </div>
      </div>
    </div>
  </div>
</div> 