<div class="container">
  <div class="row logoRow">
    <div class="col-xs-12 col-md-12">
      <span><a href="/"><img class="img-responsive center-img smallLogo" src="../img/m.svg"></a></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/4"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/6"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <p class="projectDescription">Forum for Fringe</p>     
      <h2>fringely</h2>
      
      <div class="linkGroup">
        <p>Ruby, Sinatra, PostgreSQL, Skeleton, HTML and CSS</p>
      </div> 
    </div>
  </div>  

  <div class="row firstRow lastRow">
    <div class="col-xs-12 col-md-6">
      <h3>Overview</h3>
      <p class="subTitle">Fringely</p>
      <div class="textLeft">
        <p>Fringely is a forum about women’s hair, specifically bangs, inspired by my time working as a hair stylist. In the hair industry, stylists refer to bangs as “fringe”, which is the root word of the forum’s name, Fringely.</p> 

        <p>This web application was written in Ruby and runs on the Sinatra framework. I wrote SQL commands to make queries to the Postgres database, which stores users' login information, passwords, posts, topics, likes, and comments.</p>
        <a class="portfolioButton buttonLeft" href="http://fringely.herokuapp.com/" target="_blank">View Website</a>
        <a class="portfolioButton" href="https://github.com/mjkraus/project-forum" target="_blank">View Code</a>
      </div>       
    </div>

    <div class="col-xs-12 col-md-6">
      <span><img class="img-responsive center-block topImage" src="/img/fringely-ui.png"></span>          
    </div>
     
  </div>

  <div class="row footerRow">
    <div class="col-xs-12 col-md-12">
      <div class="footer-wrapper">
      </div> 
    </div>
  </div>   
</div>