<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="project-title">
    <p>Fringely</p>
    </div>
    <dl class="dl-horizontal">
    <dt>Link</dt>
    <dd><a href='http://fringely.herokuapp.com/'>fringely.herokuapp.com</a></dd>
    <dt>GitHub</dt>
    <dd><a href='https://github.com/mjkraus/project-forum'>Fringely Forum</a></dd>
    <dt>Tools</dt>
    <dd><p>Ruby, Sinatra, PostgreSQL, Skeleton, HTML and CSS</p></dd>     
    </dl>
      <p>A forum about women's hair, specifically bangs enthusiasts, inspired by my time working as a hairstylist. In the hair industry, stylists refer to bangs as "fringe", which inspired the name Fringely.</p>

    <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>

    </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/fringely-index.png">
    <img class="img-responsive" src="/img/fringely-thread-ex.png">      
    </div>
  </div>
</div>