<section>
  <div class="mainWrapper">  
  <img id="logo" src="../img/m.svg" >
<!--       <p>scroll down</p> -->
    <div class="yellowBackgroundSquare"></div>
            <p class="scrollDown">scroll down</p>
  </div>
 </section> 

<section>
  <div class="grid-row">
  	<a href="/project/1">
  	 <div class="grid-panel" id="img1"></div>
  	</a>
  	<a href="/project/6">
  	 <div class="grid-panel" id="img2"></div>
  	</a>
  </div>
</section>

<section>
  <div class="aboutWrapper">
    <div class="aboutImage"></div>
    <h2 class="verticalHeadline">ABOUT</h2>
    <div class="textRightWrapper">
    <p>Poop in litter box, scratch the walls have my breakfast spaghetti yarn yet brown cats with pink ears but cough furball yet sit and stare and scream at teh bath sweet beast. Unwrap toilet paper where is my slave? I'm getting hungry, toy mouse squeak roll over. Meow immediately regret falling into bathtub. Eat the fat cats food stare at the wall, play with food and get confused by dust fall asleep on the washing machine step on your keyboard while you're gaming and then turn in a circle and stare at wall turn and meow stare at wall some more meow again continue staring cats go for world domination claws in your leg. I am the best eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap. Mark territory sleep on dog bed, force dog to sleep on floor. Lick butt and make a weird face purr.</p>
    </div>
  </div>
</section>

<section>
  <div class="grid-row">
    <a href="/project/2">
      <div class="grid-panel" id="img3"></div>
    </a>
    <a href="/project/3">
      <div class="grid-panel" id="img4"></div>
    </a>
  </div>
</section>

<section>
  <div class="aboutWrapper">
    <h2>SKILLS</h2>
    <div id="skillOne" class="chartSize"></div>
    <div id="skillTwo" class="chartSize"></div>
    <div id="skillThree" class="chartSize"></div>
    <div id="skillFour" class="chartSize"></div>
    <div id="skillFive" class="chartSize"></div>            
  </div>
</section>

<section>
  <div class="grid-row">
    <a href="/project/5">
      <div class="grid-panel" id="img5"></div>
    </a>
    <a href="/project/4">
      <div class="grid-panel" id="img6"></div>
    </a>
  </div>
</section>

<section>
  <div class="aboutWrapper contact">
    <h2>CONTACT</h2>
    <a href="https://www.linkedin.com/in/mjkraus" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/mjkraus" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/mollyjkraus" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/mint_miller/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="mailto:mollyjkraus@gmail.com?subject=Hello Molly"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    <p>Please contact me at <a href="mailto:mollyjkraus@gmail.com?subject=Hello Molly">mollyjkraus@gmail.com</a></p>
  </div>
</section>



