<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 img-grid">
      <div class="hovereffect">
        <a href='project/1'><img class="img-responsive" src="/img/simon-main-img.png" alt=""></a>
            <div class="overlay">
                <h2>Simon</h2>
            </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 img-grid">
          <div class="hovereffect">
        <a href='project/3'><img class="img-responsive" src="/img/midways-main-img.png" alt=""></a>
            <div class="overlay">
                <h2>Midways</h2>
            </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-12 col-md-6 img-grid">
      <div class="hovereffect">
        <a href='project/2'><img class="img-responsive" src="/img/fringely-main-img.png" alt=""></a>
            <div class="overlay">
                <h2>Fringely</h2>
            </div>
      </div>
    </div>  
    <div class="col-sm-12 col-md-6 img-grid">
      <div class="hovereffect">
        <a href='project/4'><img class="img-responsive" src="/img/party-lines-main-img.png" alt=""></a>
            <div class="overlay">
                <h2>Party L/ines</h2>
            </div>
      </div>
    </div>    
  </div>
</div>