<header>
    <div class="header-background">
    	<div class="header-wrapper">
      		<h1>Molly Kraus</h1>
			<a href="/">work</a>
			<a href="/about">about</a>
    	</div>
	</div>
</header>

<!-- <h1>Masonry - imagesLoaded progress, vanilla JS</h1> -->

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item">
    <img src="/img/simon-phone-main.png"/>
  </div>
  <div class="grid-item grid-item--height2">
    <img src="/img/party-main.png" />
  </div>
  <div class="grid-item">
    <img src="/img/fringely-phone-main.png" />
  </div>
  <div class="grid-item grid-item--height2">
    <img src="/img/mid-main-img.png" />
  </div>
  <div class="grid-item">
    <img src="/img/tq-main.png" />
  </div>
  <div class="grid-item">
    <img src="/img/fringely-index.png" />
  </div>
</div>
