<section>
  <div class="mainWrapper">  
  <img id="logo" src="../img/m.svg" >
<!--       <p>scroll down</p> -->
    <div class="yellowBackgroundSquare"></div>
            <p class="scrollDown">scroll down</p>
  </div>
 </section> 

<section>
  <div class="grid-row">
  	<a href="/project/1">
  	 <div class="grid-panel" id="img1"></div>
  	</a>
  	<a href="/project/6">
  	 <div class="grid-panel" id="img2"></div>
  	</a>
  </div>
</section>

<section>
  <div class="aboutWrapper">
    <div class="aboutImage"></div>
    <h2 class="verticalHeadline">ABOUT</h2>
    <div class="textRightWrapper">
    <p>Hello! I’m Molly a front-end web developer and designer who strives to build beautiful and thoughtful digital interactions. My languages of choice are JavaScript, HTML5, and CSS3, but I’m always learning new front-end technologies such as React.js and Angular.js. I also have experience with UX/UI design and motion design.My work is heavily influenced by my background in fine art and cinema. I draw up my _______.When I am not working, you can find me exploring the MoMA, drinking lattes, and painting pet portraits. </p>
    </div>
  </div>
</section>

<section>
  <div class="grid-row">
    <a href="/project/2">
      <div class="grid-panel" id="img3"></div>
    </a>
    <a href="/project/3">
      <div class="grid-panel" id="img4"></div>
    </a>
  </div>
</section>

<section>
  <div class="aboutWrapper">
    <h2>SKILLS</h2>
    <div id="skillOne" class="chartSize"></div>
    <div id="skillTwo" class="chartSize"></div>
    <div id="skillThree" class="chartSize"></div>
    <div id="skillFour" class="chartSize"></div>
    <div id="skillFive" class="chartSize"></div>            
  </div>
</section>

<section>
  <div class="grid-row">
    <a href="/project/5">
      <div class="grid-panel" id="img5"></div>
    </a>
    <a href="/project/4">
      <div class="grid-panel" id="img6"></div>
    </a>
  </div>
</section>

<section>
  <div class="aboutWrapper contact">
    <h2>CONTACT</h2>
    <a href="https://www.linkedin.com/in/mjkraus" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/mjkraus" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/mollyjkraus" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/mint_miller/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="mailto:mollyjkraus@gmail.com?subject=Hello Molly"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    <p>Please contact me at <a href="mailto:mollyjkraus@gmail.com?subject=Hello Molly">mollyjkraus@gmail.com</a></p>
  </div>
</section>



