<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/2"><i class="fa fa-angle-right" aria-hidden="true"></i></a>    
      <h2>Laughing Cow</h2>
      
      <div class="linkGroup">
        <h2 class="subHeading">UX Designer</h2>
         <p>This microsite was built to promote Laughing Cow’s new Cheese Dippers products. Customers upload their proofs of purchase and receive a coupon code to redeem a Family Fun pass.</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 

  <div class="row">
    <div class="col-md-12">
    <img class="img-responsive center-img" src="../img/lc-display-2.png" alt="Responsive image">
    </div>
  </div>

    <div class="row" style = "margin-bottom: 5em;">
        <p style = "padding: 5em 0 5em 0; text-align: center;">The client was presented with two landing page options as well as wireframes to show the user's journey through the redemption process. All wireframes were built to spec and later were developed into hi-fi mockups by the our team's Art Director/UI Designer.</p>
    <div class="col-sm-12 col-md-6 stackedPadding">
    <img class="img-responsive center-img" src="../img/lc-hp-1.jpg" alt="Responsive image">
    </div>

        <div class="col-md-6">
    <img class="img-responsive center-img" src="../img/lc-hp-2.jpg" alt="Responsive image">
    </div>
  </div>

    <div class="row">
    <div class="col-md-12">
    <img class="img-responsive center-img" src="../img/lc-userflow-2.jpg" alt="Responsive image">
    </div>
  </div> 

    <div class="row" style = "margin-bottom: 10em;">
    <p style = "padding: 5em 0 5em 0; text-align: center;">The user's journey was slightly changed after talking to the developer about code limitations. However, the final product and experience were not sacrificed by these limitations.</p>
    <div class="col-sm-12 col-md-4 stackedPadding">
    <img class="img-responsive center-img" src="../img/lc-1b.jpg" alt="Responsive image">
    </div>

            <div class="col-sm-12 col-md-4 stackedPadding">
    <img class="img-responsive center-img" src="../img/lc-1c.jpg" alt="Responsive image">
    </div>

        <div class="col-sm-12 col-md-4 stackedPadding">
    <img class="img-responsive center-img" src="../img/lc-1d.jpg" alt="Responsive image">
    </div>
  </div>     
</div>
