<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--   <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
 -->  <title>Molly Kraus</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" />
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400|Oswald:300|Roboto+Condensed:700" rel="stylesheet">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
    <!-- The yeild here is the content in the body. It is calling it from our index.erb file -->
    <%= yield %>
</body>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="https://use.fontawesome.com/60a568b961.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="/js/jquery.sparkline.js"></script>
  <script src="/js/skillCharts.js" type="text/javascript" charset="utf-8"></script>
</html>