<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="project-title">
    <p>Midways</p>
    </div>
    <dl class="dl-horizontal">
    <dt>Link</dt>
    <dd><a href='http://midways.herokuapp.com/'>midways.herokuapp.com</a></dd>
    <dt>GitHub</dt>
    <dd><a href='https://github.com/dnourok/midways'>Midways</a></dd>
    <dt>Tools</dt>
    <dd><p>Ruby on Rails, JavaScript, jQuery, Google Maps API, Google Places API, Bootstrap, HTML and CSS</p></dd>     
    </dl>
      <p>Midways is a web application designed for New Yorkers to remove the hassle from finding a place to meet. Midways calculates the midpoint between two locations and returns restaurant suggestions based on the user’s preferences.</p>
      <br/>
      <p>Midways is the product of a group project. I developed the original concept and was the front end developer. I worked closely with our project manager, who acted as our UX designer, to create the design of the site.</p>

      <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
      
    </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/midways-front.png">     
    <img class="img-responsive" src="/img/midways-main-img.png">      
    </div>
  </div>
</div>