<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/5"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/7"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <p class="projectDescription">Meet in the Middle</p>
      <h2>midways</h2>
      
      <div class="linkGroup">
        <h2 class="subHeading">UI Designer and Front-End Developer</h2>
        <p>Ruby on Rails, JavaScript, jQuery, Google Maps API, Google Places API, Bootstrap, HTML5 and CSS3</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 

  <div class="row" style = "margin-bottom: 10em;">
    <div class="col-xs-12 col-md-6">
      <h3>Overview</h3>
      <p class="subTitle">MIDWAYS</p>
      <div class="textLeft">
          <p> Midways is a web application that helps friends find a convenient and equidistant location to meet. This application calculates a midpoint between two locations and returns restaurant suggestions based on the user’s preferences.</p>

          <p>Midways is the product of a group project. My role was front-end web developer. I worked closely with our project manager, who acted as our UX designer, to create the design of the site.</p>
        <a class="portfolioButton buttonLeft" href="http://midways.herokuapp.com/" target="_blank">View Website</a>
        <a class="portfolioButton" href="https://github.com/dnourok/midways" target="_blank">View Code</a>
      </div>       
    </div><!-- end of 12/6 col -->

    <div class="col-xs-12 col-md-6">
      <span><img class="img-responsive center-block topImage" src="/img/midways-ui-smaller.png" style="margin-bottom: 2em;"></span>
      <span><img class="img-responsive center-block" src="/img/midways-ui-smaller-2.png"></span>          
    </div>
     
  </div>  <!-- end of row -->  
</div>  <!-- end of container -->
  