<!-- styling for paragraphs -->
<!-- style="padding-right:60px;" "padding-left:60px;" -->
<!-- <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      
      <div class="project-title">
        <h2>midways</h2>
      </div>

      <div class="links-group">  
        <div class="links-tab"><p><a href='http://midways.herokuapp.com/'>Website</a></p></div>
        <div class="links-tab"><p><a href='https://github.com/dnourok/midways'>GitHub</a></p></div>
        <p>Ruby on Rails, JavaScript, jQuery, Google Maps API, Google Places API, Bootstrap, HTML and CSS</p>
      </div> 

      <hr>   

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Overview</h3>
          <p>I developed the original concept for Midways out of a problem I have living in NYC. When trying to make plans with friends, I am constantly faced with the question, “Where should we meet?” Midways removes the hassle from finding that convenient location. With the help of Google’s Map and Places APIs, the web application calculates a midpoint between two locations and returns restaurant suggestions based on the user’s preferences.</p>

          <p>Midways is the product of a group project. My role was front end developer. I worked closely with our project manager, who acted as our UX designer, to create the design of the site.</p>
          <a class="btn btn-primary btn-sm" href="http://midways.herokuapp.com/" role="button" style="background-color:#666; background-image:none;">View Site</a>
          <a class="btn btn-primary btn-sm" href="https://github.com/dnourok/midways" role="button" style="background-color:#666; background-image:none;">View Code</a>            
        </div>

        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/midways-front.png"></span>
          <span><img class="img-responsive center-block" src="/img/midways-main-img.png"></span>           
        </div>  
      </div>
    </div>
  </div>
</div>