<!-- styling for paragraphs -->
<!-- style="padding-right:60px;" "padding-left:60px;" -->
<!-- <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      
      <div class="project-title">
        <h2>party l/nes</h2>
      </div>

      <div class="links-group">  
        <div class="links-tab"><p><a href='http://desolate-woodland-68989.herokuapp.com/'>Website</a></p></div>
        <div class="links-tab"><p><a href='https://github.com/mjkraus/party-lines'>GitHub</a></p></div>
        <p>Node.js, Highcharts.js, Sparklines.js, JavaScript, jQuery, Bootstrap, HTML and CSS</p>
      </div> 

      <hr>   
    
    <!-- quotes gathered by <a href="http://www.nytimes.com/interactive/2016/us/elections/candidates-on-the-issues.html?_r=0">The New York Times</a>. I designed the charts and graphs through data from Pew and used illustrations of 2016 presidential candidates from The Washington Post.</p> -->
      <div class="row">
        <div class="col-xs-12 col-md-6" style="padding-right:60px;">
          <h3>Overview</h3>
          <p>Party L/nes is an exercise in interactive storytelling. Through this art form, I wanted to explore design and data visualization as a way to enhance a user’s experience with a narrative.</p>

          <p>The project is based on the article <a href="https://www.washingtonpost.com/news/wonk/wp/2015/01/07/the-top-10-reasons-american-politics-are-worse-than-ever/" style="color: #ff2f18;">The Top 10 Reasons American Politics Are So Broken</a>, written by Jonathan Haidt and Sam Abrams. I also used a blurb from <a href="http://www.people-press.org/2014/06/12/political-polarization-in-the-american-public/#about-the-data" style="color: #ff2f18;">Pew Research Center</a>, along with Haidt and Abrams words, to enhance the introduction paragraph.</p>
          <a class="btn btn-primary btn-sm" href="http://desolate-woodland-68989.herokuapp.com/" role="button" style="background-color:#666; background-image:none;">View Site</a>
          <a class="btn btn-primary btn-sm" href="https://github.com/mjkraus/party-lines" role="button" style="background-color:#666; background-image:none;">View Code</a>           
        </div>

        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/party-lines-layout-ex.png"></span>       
        </div>  
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-6">
        <!-- col-md-pull-6 -->
          <span><img class="img-responsive center-block" src="/img/example-mock-up.png"></span>         
        </div>

        <div class="col-xs-12 col-md-6">
        <!-- col-md-push-6 -->
          <h3>Designing the Layout</h3>
          <p>The landing page of Party L/nes opens with a hero image. The hero image has a cinematic effect, which draws in a user’s attention. As the user scrolls down, the title fades to black, which further enhances this effect.</p> 

          <p>My initial thought for the layout of the article was to create dividers for the headers of each point in Haidt and Abrams list. Shown in my wireframes, these dividers would not only highlight the statements, but symbolically act as the lines between the two political parties. However, I quickly realized that these blocks disrupted the flow of the design and narrative. Therefore, I decided to increase the font size and underlined the points in order to set them apart from the rest of the content.</p>
        </div>
      </div>

      <hr>   

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Creating the Data Visualization</h3>
          <p>What was most exciting about this piece was the opportunity to explore data visualization. I redesigned several of the charts in the article and made them interactive using the JavaScript library Highcharts.js. I was incredibly excited to designed two sparklines <span id="sparkline"></span><span id="sparkline2"></span> for the introduction paragraph using another JavaScript library, Sparklines.js. These small inline charts are an incredibly powerful tool when it comes to representing and enhancing the understanding of data in text.</p> 
        </div>

        <div class="col-xs-12 col-md-6">
          <div id="liberal-pie-chart"></div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/quote-game.png"></span>         
        </div>

        <div class="col-xs-12 col-md-6">
          <h3>Developing the Party L/nes Game</h3>
          <p>To leave a final impact on the user, I developed a game in JavaScript that asks he/she to agree or disagree with a series of quotes from 2016 Presidential candidates. These quotes are presented without the identity of the speaker. The final results displays how many quotes from Republicans and Democrats that the user agreed or disagreed with, along with the identity of the quote’s author. The hope is that the user questions his/her own beliefs without the influence of what a political party believes. This game was developed from a list of quotes gathered by <a href="http://www.nytimes.com/interactive/2016/us/elections/candidates-on-the-issues.html?_r=0" style="color: #ff2f18;">The New York Times</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div> 