<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="project-title">
    <p>Party L/nes</p>
    </div>
    <dl class="dl-horizontal">
    <dt>Link</dt>
    <dd><a href='http://desolate-woodland-68989.herokuapp.com/'>desolate-woodland-68989.herokuapp.com</a></dd>
    <dt>GitHub</dt>
    <dd><a href='https://github.com/mjkraus/party-lines'>Party L/nes</a></dd>
    <dt>Tools</dt>
    <dd><p>Node.js, Highcharts.js, Sparklines.js, JavaScript, jQuery, Bootstrap, HTML and CSS</p></dd>     
    </dl>
    <p>Party L/nes is an exercise in interactive storytelling. I was inspired to create this site because of works I have seen online where the user becomes immersed in a story through web design.</p> 
    <br/>
    <p>The edited article is the words of 
    <a href="https://www.washingtonpost.com/news/wonk/wp/2015/01/07/the-top-10-reasons-american-politics-are-worse-than-ever/">Jonathan Haidt and Sam Abrams</a>, a blurb from <a href="http://www.people-press.org/2014/06/12/political-polarization-in-the-american-public/#about-the-data">Pew Research Center</a>, and quotes gathered by <a href="http://www.nytimes.com/interactive/2016/us/elections/candidates-on-the-issues.html?_r=0">The New York Times</a>. I designed the charts and graphs through data from Pew and used illustrations of 2016 presidential candidates from The Washington Post.</p>

    <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
    
    </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/party-lines-full.png">         
    </div>
  </div>
</div>