<div class="container">
  <div class="row">
<!--     <div class="col-xs-12 col-md-8 col-md-offset-2"> -->
    <div class="col-xs-12 col-md-12">
    <div class="project-title">
    <p>Party L/nes</p>
    </div>
    <dl class="dl-horizontal">
    <dt>Link</dt>
    <dd><a href='http://desolate-woodland-68989.herokuapp.com/'>desolate-woodland-68989.herokuapp.com</a></dd>
    <dt>GitHub</dt>
    <dd><a href='https://github.com/mjkraus/party-lines'>Party L/nes</a></dd>
    <dt>Tools</dt>
    <dd><p>Node.js, Highcharts.js, Sparklines.js, JavaScript, jQuery, Bootstrap, HTML and CSS</p></dd>     
    </dl>
    <div class"row">
    <div class="col-md-12">
    <p>Party L/nes is an exercise in interactive storytelling. This approach to reporting draws me in because it utilizes web design in a cinematic way. Through interactive storytelling, I wanted to explore design and data visualization as a way to enhance a user’s experience with a narrative.</p>   
    <p>The project is based on the article <a href="https://www.washingtonpost.com/news/wonk/wp/2015/01/07/the-top-10-reasons-american-politics-are-worse-than-ever/">The top 10 resons American politics are so broken</a>, written by Jonathan Haidt and Sam Abrams. I also used a blurb from <a href="http://www.people-press.org/2014/06/12/political-polarization-in-the-american-public/#about-the-data">Pew Research Center</a>, along with Haidt and Abrams words, to enhance the introduction paragraph.</p>
    
    <!-- quotes gathered by <a href="http://www.nytimes.com/interactive/2016/us/elections/candidates-on-the-issues.html?_r=0">The New York Times</a>. I designed the charts and graphs through data from Pew and used illustrations of 2016 presidential candidates from The Washington Post.</p> -->
    <p>As Haidt and Abrams article is a list, my original thought was to create dividers using the headers of each point. My concept was that these dividers would not only highlight the headers, but these dividers would symbolically act as the lines between the two political parties. However, I quickly realized that these blocks disrupted the flow of the design and narrative. I decided to increase the fonts size and underlined the points in order to set them apart from the rest of the content.</p>
    </div>
    </div>
<!--     </div>
    <div class="col-md-3">
    <img class="img-responsive" src="/img/WP-article-layout-ex.png">         
    </div>
    </div> -->
    <div class="row">
    <div class="col-md-6">
    <img class="img-responsive" src="/img/WP-article-layout-ex.png">         
    </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/party-lines-layout-ex.png">
    </div>
    </div>

    <br/>

    <div class"row">
    <div class="col-md-12">
    <p>The data in this piece gave me the opportunity to work with data visualization. I redesigned several of the charts in the article and made them interactive using the JavaScript library highcharts.js. I also included two sparklines in the introduction paragraph using another library, sparklines.js.</p>
    <hr>
    </div>
    </div>
    <br/>
    <div class="row">
    <div class="col-md-6" style="padding-right:60px;" "padding-left:60px;">
    <h2>Making Charts</h2>
<!--     <img class="img-responsive" src="/img/pew-media-differences-chart.png"> -->
    <p>I wanted to enhance the with the article, so I developed a game in JavaScript that is included at the end of the article. I initially took 10 quotes from candidates on and presented them to the user without of who the quote comes from. The user agrees or disagrees with the quote. It displays at the end of the that The display of the final content is hopefully to make one question where he/she stands. That their lines may not be divided as though they seem. After I revised the game to only be six questions, as ten was too many for most users to get through.</p>
    </div>
    <div class="col-md-6">
    <div id="liberal-pie-chart"></div>
    </div>
    </div>
    <hr>
        <div class="row">
    <div class="col-md-6">
    <div id="conservative-pie-chart"></div>
    </div>
        <div class="col-md-6" style="padding-right:60px;" "padding-left:60px;">
    <h2>Making Charts</h2>
<!--     <img class="img-responsive" src="/img/pew-media-differences-chart.png"> -->
    <p>I wanted to enhance the with the article, so I developed a game in JavaScript that is included at the end of the article. I initially took 10 quotes from candidates on and presented them to the user without of who the quote comes from. The user agrees or disagrees with the quote. It displays at the end of the that The display of the final content is hopefully to make one question where he/she stands. That their lines may not be divided as though they seem. After I revised the game to only be six questions, as ten was too many for most users to get through.</p>
    </div>
    </div>
    <hr>
<!--     <br/> -->

<!--     <div class="row">
    <div class="col-md-6">
    <p>I wanted to enhance the __________ with the article, so I developed a game in JavaScript that is included at the end of the article. I initially took 10 quotes from _______ candidates on _________ and presented them to the user without _____ of who the quote comes from. The user agrees or disagrees with the quote. It displays _________ at the end of the ________.  that The display of the final content is hopefully to make one question where he/she stands. That their lines may not be divided as though they seem. After ________ I revised the game to only be six questions, as ten was too many for most users to get through.</p>
    <br/>
    </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/quotes.png" style="font-align":"center";>
    </div>
    </div> -->

    <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
</div>
</div>    
    
<!--     </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/party-lines-full.png">         
    </div> -->
  </div>
</div>