<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/8"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/3"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <p class="projectDescription">Polarization in American Politics</p>     
      <h2>Party Lines</h2>
      
      <div class="linkGroup">
        <h2 class="subHeading">UI Designer and Full-Stack Developer</h2>
        <p>Node.js, Highcharts.js, Sparklines.js, JavaScript, jQuery, Bootstrap, HTML5 and CSS3</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 
  
  <div class="row" style = "margin-bottom: 10em;">
    <div class="col-xs-12 col-md-6">
      <h3>Overview</h3>
      <p class="subTitle">Party Lines</p>
      <div class="textLeft">
        <p>Party Lines is an exercise in interactive storytelling and data visualization.</p>

        <p>The project is based on the article <a href="https://www.washingtonpost.com/news/wonk/wp/2015/01/07/the-top-10-reasons-american-politics-are-worse-than-ever/" style="color: #009FED;" target="_blank">The Top 10 Reasons American Politics Are So Broken</a>, written by Jonathan Haidt and Sam Abrams. I also used a blurb from <a href="http://www.people-press.org/2014/06/12/political-polarization-in-the-american-public/#about-the-data" style="color: #009FED;" target="_blank">Pew Research Center</a>, along with Haidt and Abrams words, to enhance the introduction paragraph.</p>
        <a class="portfolioButton buttonLeft" href="http://desolate-woodland-68989.herokuapp.com/" target="_blank">View Website</a>
        <a class="portfolioButton" href="https://github.com/mjkraus/party-lines" target="_blank">View Code</a>
      </div>       
    </div><!-- end of 12/6 col -->

    <div class="col-xs-12 col-md-6">
      <span><img class="img-responsive center-block topImage" src="/img/partylines-ui.png"></span>        
    </div>
     
  </div>  <!-- end of row -->   
</div>  <!-- end of container -->