<div class="container">
  <div class="row logoRow">
    <div class="col-xs-12 col-md-12">
      <span><a href="/"><img class="img-responsive center-img smallLogo" src="../img/m.svg"></a></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/2"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <p class="projectDescription">#HackThePayGap</p>     
      <h2>Raise Above The Wage</h2>
      
      <div class="linkGroup">
        <p>MEAN Stack, Chrome Browser Extension, JavaScript, HTML5, CSS3, and Bootstrap</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 

<!--   <div class="row nexProject">
    <div class="col-xs-12 col-md-12">
    <a href="/project/2"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <a href="/project/5"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div> -->
  
  <div class="row firstRow lastRow">
    <div class="col-xs-12 col-md-6">
      <h3>Overview</h3>
      <p class="subTitle">Raise Above The Wage</p>
      <div class="textLeft widerTextLeft">
        <p>Raise Above The Wage was created for the hackathon, <a href="https://paygap.pif.gov/" style="color: #009FED;" target="_blank">Hack The Pay Gap</a>. Under the direction of a Presidential Innovation Fellow, I worked closely with a team of developers and designers to use technology and data to address the wage gap that adversely impacts minorities and women in the United States. The result was a Chrome Browser Extension that adjusts prices based on the average income of differing races and genders, as well as a microsite that further details the project. This project was presented at <a href="http://www.esa.doc.gov/under-secretary-blog/hack-pay-gap" style="color: #009FED;" target="_blank">The White House</a> and received a write up on <a href="http://fedscoop.com/new-app-shows-pay-gaps-impact-on-everyday-life" style="color: #009FED;" target="_blank">FedScoop.com</a>.</p>

        <p>My role in the project was front-end developer for the Chrome Browser Extension and the microsite. I also wrote, shot, and edited the promotional video for Raise Above The Wage.</p>
        <a class="portfolioButton buttonLeft" href="http://www.raiseabovethewage.com/" target="_blank">View Website</a>
        <a class="portfolioButton" href="https://chrome.google.com/webstore/detail/raise-above-the-wage/ibjhnpcphkbdpobeibcgbcemgdbdninp" target="_blank">View Chrome Extension</a>
      </div>       
    </div><!-- end of 12/6 col -->

    <div class="col-xs-12 col-md-6">
      <span><img class="img-responsive center-block topImage" src="/img/raise-above-wage-ui.png" style="margin-bottom: 2em;"></span>
      <span><img class="img-responsive center-block" src="/img/raise-above-wage-ui-2.png"></span>                  
    </div>
     
  </div>  <!-- end of row -->

  <div class="row footerRow">
    <div class="col-xs-12 col-md-12">
      <div class="footer-wrapper">
      </div> 
    </div>
  </div>   
</div>  <!-- end of container -->