<div class="container">
  <div class="row projectHeader">
    <div class="col-xs-12 col-md-12">
      <a href="/project/2"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      <a href="/project/5"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <p class="projectDescription">Memory Game</p>     
      <h2>simon</h2>
      
      <div class="linkGroup">
      <h2 class="subHeading">UI Designer and Full-Stack Developer</h2>
        <p>JavaScript, jQuery, Bootstrap, HTML5, and CSS3</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 
  
  <div class="row" style = "margin-bottom: 10em;"">
    <div class="col-xs-12 col-md-6">
      <h3>Overview</h3>
      <p class="subTitle">SIMON</p>
      <div class="textLeft">
        <p>Simon is a responsive web application written in JavaScript that mimics the functionality of Milton Bradley's classic electronic memory game. Wes Anderson's film, The Grand Budapest Hotel, inspired the color scheme for this design.</p>
        <a class="portfolioButton buttonLeft" href="http://mjkraus.github.io/" target="_blank">View Website</a>
        <a class="portfolioButton" href="https://github.com/mjkraus/mjkraus.github.io" target="_blank">View Code</a>
      </div>       
    </div><!-- end of 12/6 col -->

    <div class="col-xs-12 col-md-6">
      <span><img class="img-responsive center-block topImage" src="/img/simon-ui-smaller.png" style="margin-bottom: 2em;"></span>
      <span><img class="img-responsive center-block" src="/img/simon-ui-over-smaller.png"></span>          
    </div>
     
  </div>  <!-- end of row -->

  <div class="row footerRow">
    <div class="col-xs-12 col-md-12">
      <div class="footer-wrapper">
      </div> 
    </div>
  </div>   
</div>  <!-- end of container -->