<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="project-title">
    <p>Simon</p>
    </div>
    <dl class="dl-horizontal">
    <dt>Link</dt>
    <dd><a href='http://mjkraus.github.io/'>mjkraus.github.io</a></dd>
    <dt>GitHub</dt>
    <dd><a href='https://github.com/mjkraus/mjkraus.github.io'>Simon Game</a></dd>
    <dt>Tools</dt>
    <dd><p>JavaScript, jQuery, Bootstrap, HTML, and CSS</p></dd>     
    </dl>
      <p>Responsive web application that mimicks the functionality of Milton Bradley's classic electronic memory game. The color scheme for this design was inspired by Wes Anderson's film Grand Budapest Hotel.</p>
      <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
      
    </div>
    <div class="col-md-6">
    <img class="img-responsive" src="/img/simon-main-img.png">
        <img class="img-responsive" src="/img/simon-game-over.png">
    </div>
  </div>
</div>