<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">
    <a href="/"><img class="smallHeaderLogo" src="../img/m.svg"><!-- <p class="smallLogo">olly kraus</p> --></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 projectHeader">
        <a href="/project/2"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <a href="/project/5"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <h2>simon</h2>
      <div class="linkGroup">
        <a class="linkTab leftTab" href='http://mjkraus.github.io/'>Visit Website</a>
        <a class="linkTab" href='https://github.com/mjkraus/mjkraus.github.io'>View Code</a>
        <p>JavaScript, jQuery, Bootstrap, HTML, and CSS</p>
      </div> 
    </div><!-- end of 12 col -->
  </div>  <!-- end of row --> 

  <hr>

<!--   <div class="row nexProject">
    <div class="col-xs-12 col-md-12">
    <a href="/project/2"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <a href="/project/5"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div> -->
  
  <div class="row rowMargin">
    <div class="col-xs-12 col-md-6">
      <h3>Overview</h3>
      <p class="subTitle">SIMON</p>
      <div class="textLeft">
      <p>Simon is a responsive web application written in JavaScript that mimics the functionality of Milton Bradley's classic electronic memory game. Wes Anderson's film, The Grand Budapest Hotel, inspired the color scheme for this design.</p>
      <a class="portfolioButton buttonLeft" href="http://mjkraus.github.io/">View Site</a>
      <a class="portfolioButton" href="https://github.com/mjkraus/mjkraus.github.io">View Code</a>
      </div>       
    </div><!-- end of 12/6 col -->

    <div class="col-xs-12 col-md-6">
      <span><img class="img-responsive center-block" src="/img/simon-ui-smaller.png" style="margin-bottom: 2em;"></span>
      <span><img class="img-responsive center-block" src="/img/simon-ui-over-smaller.png"></span>          
    </div>
     
  </div>  <!-- end of row -->
</div>  <!-- end of container -->
<footer>
  <div class="footer-wrapper">
    <span><p>Molly Kraus</p></span> 
  </div> 
</footer> 