<!-- styling for paragraphs -->
<!-- style="padding-right:60px;" "padding-left:60px;" -->
<!-- <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      
      <div class="project-title">
        <h2>simon</h2>
      </div>

      <div class="links-group">
        <div class="links-tab"><p><a href='http://mjkraus.github.io/'>Website</a></p></div>
        <div class="links-tab"><p><a href='https://github.com/mjkraus/mjkraus.github.io'>GitHub</a></p></div>
        <p>JavaScript, jQuery, Bootstrap, HTML, and CSS</p>
      </div> 

      <hr>   

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Overview</h3>
          <p>Simon is a responsive web application written in JavaScript that mimics the functionality of Milton Bradley's classic electronic memory game. Wes Anderson's film, The Grand Budapest Hotel, inspired the color scheme for this design.</p>
<!--           <div class="links-tab"><p><a href='http://mjkraus.github.io/'>Website</a></p></div>
          <div class="links-tab"><p><a href='https://github.com/mjkraus/mjkraus.github.io'>GitHub</a></p></div>  -->
          <a class="btn btn-primary btn-sm" href="http://mjkraus.github.io/" role="button" style="background-color:#666; background-image:none;">View Site</a>
          <a class="btn btn-primary btn-sm" href="https://github.com/mjkraus/mjkraus.github.io" role="button" style="background-color:#666; background-image:none;">View Code</a>            
        </div>

        <div class="col-xs-12 col-md-6">
          <span><img class="img-responsive center-block" src="/img/simon-main-img.png"></span>
          <span><img class="img-responsive center-block" src="/img/simon-game-over.png"></span>          
        </div>  
      </div>
    </div>
  </div>
</div>