<!-- styling for paragraphs -->
<!-- style="padding-right:60px;" "padding-left:60px;" -->
<!-- <a href='/'><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      
      <div class="project-title">
        <h2>TicketIQ</h2>
      </div>   
    
      <div class="links-group">  
        <div class="links-tab"><p><a href='http://www.tiqiq.com'>Website</a></p></div>
<!--         <div class="links-tab"><p><a href='https://github.com/mjkraus/project-forum'>GitHub</a></p></div> -->
        <p>JavaScript, jQuery, Bootstrap, Skeleton, HTML5 and CSS3</p>
      </div> 

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <p style="margin-bottom: 4em;">I was hired on a three month contract as a front-end web developer to develop a redesign for TicketIQ, formally TiqIQ, using JavaScript, jQuery, HTML5, and CSS3. The redesign was launched in six weeks. With the remaining six weeks, I debugged the website and designed mockups and mobile assets. My contract was extended to assist in cleaning up and refactoring the existing codebase.<p>

          <img class="img-responsive" src="/img/footer.png">

          <p style="margin-top: 4em;">While at TicketIQ, I had the opportunity to design and develop responsive elements of the new UI. Above is the footer I created with the requirements that it acts as a press page accompanied by easy to use navigation.</p>
        </div>
      </div>

      <hr>      

      <div class="row">
              <div class="col-xs-12 col-md-6">
          <h3>Designing Mobile Assets</h3>
          <p>Using Adobe Illustrator, I designed three error screens for the mobile app. These screens were deployed to production.</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive max-img" src="/img/tq-app2.png" style="border:none;">
        </div>
      </div>

    <hr>

    <div class="row"> 
      <div class="col-xs-12 col-md-6">
          <img class="img-responsive center-img" src="/img/tq-mock.png">
        </div>
                <div class="col-xs-12 col-md-6">
          <h3>Thinking Towards the Future</h3>
          <p>While developing the new UI of the website, I identified areas where the design could be improved. Working closely with the input of the product manager, I created a series of mockups, using Adobe Experience Design, for a responsive homepage that improves the user experience.</p>
        </div>  
      </div>  

    </div>
  </div>
</div> 