<div class="container u-full-width u-max-full-width">
	<div class="row" style="border:1px solid black;"><p>THIS IS THE HEADER<p></div>
	
	<div class="row">
		<div class="two columns" style="border:1px solid black;">
			<div class="outer">
    			<div class="inner rotate title">Centered?</div>
        		<div class="inner rotate">JavaScript, jQuery, Bootstrap, Skeleton, HTML5 and CSS3</div>
        		<div class="inner rotate buttonRow">
        			<a class="websiteButton">button 1</a><a class="codeButton">button 2</a>
        		</div>
			</div>
		</div>

		<div class="ten columns" style="border:1px solid black;">
		 	<div class="grid-row">
      			<div class="grid-panel">
      			<div class="textLeft">
					<p>OVERVIEW<p>
					<p>TicketIQ</p>
					<p>Climb leg loves cheeseburgers. Hola te quiero gnaw the corn cob. Meow loudly just to annoy owners shove bum in owner's face like camera lens and licks your face but meow to be let in yet missing until dinner time cats secretly make all the worlds muffins. With tail in the air soft kitty warm kitty little ball of furr, sleep on keyboard. Lick arm hair. Curl up and sleep on the freshly laundered towels. Claw drapes sleep nap who's the baby, but give attitude, so hide when guests come over, or plan steps for world domination. Knock over christmas tree this human feeds me, i should be a god hide head under blanket so no one can see claws in your leg and chase after silly colored fish toys around the house. Lie on your belly and purr when you are asleep.<p>
				</div>
				</div>
      <div class="grid-panel"><p>Climb leg loves cheeseburgers. Hola te quiero gnaw the corn cob. Meow loudly just to annoy owners shove bum in owner's face like camera lens and licks your face but meow to be let in yet missing until dinner time cats secretly make all the worlds muffins. With tail in the air soft kitty warm kitty little ball of furr, sleep on keyboard. Lick arm hair. Curl up and sleep on the freshly laundered towels. Claw drapes sleep nap who's the baby, but give attitude, so hide when guests come over, or plan steps for world domination. Knock over christmas tree this human feeds me, i should be a god hide head under blanket so no one can see claws in your leg and chase after silly colored fish toys around the house. Lie on your belly and purr when you are asleep.<p></div>
			</div>
    	</div>  

	<!-- end row -->
	</div> 
</div>