
<div class="container">
<div class="before-and-after">
  <img src="/img/footer-after.jpg" class="subject-before"/>
  <div class="subject-scraper"><img src="/img/footer-before.jpg" class="subject-after"/></div>
</div>
</div>