body{
  background-color: #F5F2EF;
  color: #292929;
}
.h1, .h2, .h3{
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0.75em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h3{
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #292929;
}

.subHeading{
  font-size: 1.5em;
  text-transform: none;
  font-weight: 500;
}

p{
  color: #666666;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  line-height: 1.5em;
}

.mainCopyWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  background: #FFF001;
  padding: 1em;*/
}

p.scrollDown{
    margin: auto;
    text-align: center;
    top: 90vh;
    position: relative;
    font-size: 1.2em;
}

.copy{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    font-size: 1.2em;*/
}

.mainWrapper{
    display: block;
    position: relative;
    height: 100vh;
    text-align: center;
}

.blueBackgroundSquare{
/*    background-color: #FFF001;*/
    background-color: #85d8fa;
    height: inherit;
    width: 50%;
    z-index: -999;
    top: 0;
    position: absolute;
}

div.row.intro{
 /* background-color: rgba(255, 240, 1, 0.8);
*/  padding: 10%;
}

section.process{
  margin-top: 9em;
}

#logo{
    text-align: center;
    width: inherit;
    height: 30em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    opacity: 0.5;*/
}
.grid-row{
	width: 100%;
    overflow: auto;
}
.grid-panel{
  height: 50vh;
  width: 50%;
  float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#img1{
   background-image: url('../img/fringely-blue-square.jpg');
}

/*#img1:hover{
   background-image: url('../img/fringely-square.jpg');
}*/

#img2{
   background-image: url('../img/raise-above-wage-red-square.jpg');
   background-position: center 40%;
}

/*#img2:hover{
   background-image: url('../img/raise-above-wage-cropped2.jpg');
}*/

#img3{
   background-image: url('../img/partylines-yellow.jpg');
}

/*#img3:hover{
   background-image: url('../img/partylines-square.jpg');
}*/

#img4{
   background-image: url('../img/simon-blue.jpg');
    background-position: center 48%;
}

/*#img4:hover{
   background-image: url('../img/simon2.jpg');
    background-position: center 48%;
}*/

#img5{
   background-image: url('../img/tiq-red-2.jpg');
       background-position: center 30%;
}

/*#img5:hover{
   background-image: url('../img/tiq.jpg');
    background-position: center 30%;
}*/

#img6{
   background-image: url('../img/midways-yellow.jpg');
    background-position: center top;
}

#img7{
   background-image: url('../img/bolthouse-yellow-2.jpg');
    background-position: center top;
}

#img8{
   background-image: url('../img/lc-red.jpg');
    background-position: center 20%;
}

/*#img6:hover{
   background-image: url('../img/midways-square-2.jpg');
    background-position: center top;
}*/

.iconImage{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: co\; object-fit: contain;
    width: 15em;
    height: 15em;
    display: inline-block;
    vertical-align: middle;
}

#research{
   background-image: url('../img/research.svg');
   margin-right: 15em;
}

#design{
   background-image: url('../img/design.svg');
   margin-left: 15em;
}

#build{
   background-image: url('../img/build.svg');
   margin-right: 15em;
}

#test{
   background-image: url('../img/test.svg');
   margin-left: 15em;
}

.processWrapper{
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 10em;
}

.aboutWrapper{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

.aboutImage{
    background-image: url(../img/portrait.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: co\; object-fit: contain;
    width: 20em;
    height: 30em;
    display: inline-block;
    vertical-align: middle;

}

.textRightWrapper{
    display: inline-block;
    width: 18em;
    text-align: left;
    vertical-align: middle;
}

.textLeftWrapper{
    display: inline-block;
    width: 18em;
    text-align: right;
    vertical-align: middle;
}

.textRightWrapper p, .textLeftWrapper p{
  font-family: 'Cormorant Garamond', serif;
  font-style: 1em;
  line-height: 1.5em;

}

h2.verticalHeadline{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    transform: rotate(-90deg);
    transform-origin: top 0;
    float: none;
    display: inline-block;
    margin: 2em;
}

.chartSize{
    display: inline-block;
}
i.fa.fa-linkedin, i.fa.fa-github, i.fa.fa-twitter, i.fa.fa-instagram, i.fa.fa-envelope-o{
    margin-top: 1em;
    font-size: 2em;
    color: #292929;
}

i.fa.fa-linkedin, i.fa.fa-github, i.fa.fa-twitter, i.fa.fa-instagram{
  margin-right: 1em;
}

i.fa.fa-linkedin:hover, i.fa.fa-github:hover, i.fa.fa-twitter:hover, i.fa.fa-instagram:hover, i.fa.fa-envelope-o:hover{
  color: #666666;
}

.aboutWrapper.contact p{
  margin-top: 3em;
}

.aboutWrapper.contact p a{
  color: #009FED;
  text-decoration: none;
}

.aboutWrapper.contact p a:hover{
  color: #009FED;
  text-decoration: underline;
}

img.img-responsive.max-img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img.img-responsive.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.img-responsive.center-img.smallLogo{
    height: 5em;
    margin-top: 3em;
    margin-bottom: 3em;
}    

.logoRow{
  border-bottom: 3px solid #292929;
}

.projectHeader{
  margin-top: 3em;
  padding-bottom: 5em;
  text-align: center;
}

.firstRow{
/*  border-top: 1px solid #292929;*/
  margin-top: 2px;
  padding-top: 3em;
}

.lastRow{
/*  border-bottom: 1px solid #292929;*/
  padding-bottom: 3em;
}

img.smallHeaderLogo:hover{
  cursor: pointer;
}

.linkTab{
  display: inline-block;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  font-family: 'Cormorant Garamond', serif;
  color: #666666;
  text-decoration: none;
}

.linkTab:hover{
  color: #292929;
  text-decoration: none;
}

.linkTab.leftTab{
  margin-right: .5em;
}

.linkGroup{
  position: relative;
  text-align: center;
  margin-top: 1.5em;
}

i.fa.fa-angle-left, i.fa.fa-angle-right{
  font-size: 3em;
  color: #c4c1bf;
}

i.fa.fa-angle-left:hover, i.fa.fa-angle-right:hover{
  color: #292929;
}

i.fa.fa-angle-left{
  float: left;
/*  margin-left: 1em;*/
}

i.fa.fa-angle-right{
  float: right;
/*  margin-right: 1em;*/
}

p.subTitle{
  font-family: 'Roboto Condensed', sans-serif;
  color: #c4c1bf;
  font-weight: 300;
/*  margin-bottom: 2em;*/
}

.textLeft{
  width: 65%;
  padding-left: 2em;
}

.textLeft p{
  margin-bottom: calc(2em + 8px);
}

.portfolioButton{
  border: 1px solid #666666;
  color: #666666;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-family: 1em;
  padding: 8px 10px 8px 10px;
  margin: 0;
  text-decoration: none;
  border-radius: 2px;
}

.portfolioButton:hover{
  background-color: #dcd9d7;
  color: #292929;
  text-decoration: none;
}

.portfolioButton.buttonLeft{
  margin-right: 1em;
}

.footer-wrapper{
  height: 5em;
}

p.projectDescription{
  color: #c4c1bf;
  font-style: italic;
  margin-bottom: 0;
}

@media handheld, screen and (max-width: 970px){
  .topImage{
    margin-top: 3em;
  }

  .grid-panel{
    height: 30vh;
  }

  .textRightWrapper{
    margin-top: 3em;
  }
}

@media handheld, screen and  (max-width: 992px){
    .process.Desktop{
    display: none;
  }

  .container.processMobile{
    display: block;
  }

}

@media handheld, screen and  (min-width: 992px){
    .process.Desktop{
    display: block;
  }

  .container.processMobile{
    display: none;
  }

}

@media handheld, screen and (max-width: 1200px){
  .widerTextLeft{
    width: 80%;
  }

}

@media handheld, screen and  (max-width: 450px){
  p{
    font-size: 1.2em;
  }
  .textLeft{
    width: 100%;
  }
  #logo{
    height: 18em;
  }
  h2.verticalHeadline{
    margin-top: 3em;
  }

  .textRightWrapper{
    margin-top: 1em;
  }

  .grid-panel{
    height: 40vh;
  }

  #img6, #img6:hover{
    background-position: center left;
  }
}


.navbar{
  margin-bottom: 0px;
  border-bottom: 2px solid #CFCFCF;
  background-color: #F5F2EF;

}

.navbar-default{
  background-image: none;
  box-shadow: none;
}

.navbar-default .navbar-brand{
    color: #292929;
}

.navbar-brand{
    position: absolute;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 0px;
}

.col-sm-12.col-md-6.stackedPadding{
  padding-bottom: 5em;
}

.col-sm-12.col-md-4.stackedPadding{
  padding-bottom: 5em;
}

.navbar>.container-fluid .navbar-brand {
     margin-left: 0px; 
}

.mobileIcon{
  height: 10em;
  margin-bottom: 3em;
}

.container.processMobile{
  margin-top: 9em;
  margin-bottom: 10em;
}

.col-sm-6.iconText{
  padding-right: 4em;
  padding-left: 4em;
}

.col-xs-12.col-sm-6.iconText.iconRowPadding{
  padding-bottom: 5em;
}

  




